html {
    display: border-box;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scoreboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 10px;
    background-color: #f0f0f0;
}

.human {
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: #f00;
    text-align: center;
}

.computer {
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: #00f;
    text-align: center;
}

.score {
    font-size: 4rem;
}
